---
import About from "../components/About.astro";
import Testimonial from "../components/Testimonial.astro";
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
import Package from "../components/Package.astro";
---

<Layout title="Tourism management system">
  <main>
    <section
      class="w-full bg-cover bg-center py-32"
      style="background-image: url('https://images.unsplash.com/photo-1625716741174-6671d4a8027f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"
    >
      <div class="container mx-auto text-center text-white">
        <h1 class="text-5xl font-medium mb-6">Destinations Place</h1>
        <p class="text-xl mb-12">Welcome To Uttarkhand</p>
        <a
          href="#"
          class="bg-blue-600 text-white py-4 px-12 rounded-full hover:bg-blue-500"
          >Book Now</a
        >
      </div>
    </section>
    <Services />
    <About />
    <Package />
    <Cta />
    <Testimonial />
    <Contact />
  </main>
</Layout>

<style></style>
