<section class="bg-white" id="contact">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div>
      <h2
        class="mt-2 text-start text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
      >
        Contact us
      </h2>
    </div>

    <div class="grid grid-cols-1 gap-12 mt-10 lg:grid-cols-2">
      <div class="grid grid-cols-1 gap-12 h-fit">
        <div>
          <span
            class="inline-block p-3 text-blue-500 rounded-full bg-blue-100/80"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
              ></path>
            </svg>
          </span>

          <h2 class="mt-4 text-base font-medium text-gray-800">Email</h2>
          <p class="mt-2 text-sm text-gray-500">
            Our friendly team is here to help.
          </p>
          <p class="mt-2 text-sm text-blue-500">example@gmail.com</p>
        </div>

        <div>
          <span
            class="inline-block p-3 text-blue-500 rounded-full bg-blue-100/80"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
              ></path>
            </svg>
          </span>

          <h2 class="mt-4 text-base font-medium text-gray-800">Office</h2>
          <p class="mt-2 text-sm text-gray-500">
            Come say hello at our office HQ.
          </p>
          <p class="mt-2 text-sm text-blue-500">
            Gumaniwala Rushafarm Rishikesh Dehradun
          </p>
        </div>
      </div>

      <div class="p-4 py-6 rounded-lg bg-gray-50 md:p-8">
        <form>
          <div class="-mx-2 md:items-center md:flex">
            <div class="flex-1 px-2">
              <label class="block mb-2 text-sm text-gray-600">First Name</label>
              <input
                type="text"
                placeholder="shre "
                class="block w-full px-5 py-2.5 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>

            <div class="flex-1 px-2 mt-4 md:mt-0">
              <label class="block mb-2 text-sm text-gray-600">Last Name</label>
              <input
                type="text"
                placeholder="yash"
                class="block w-full px-5 py-2.5 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>
          </div>

          <div class="mt-4">
            <label class="block mb-2 text-sm text-gray-600">Email address</label
            >
            <input
              type="email"
              placeholder="name@example.com"
              class="block w-full px-5 py-2.5 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
            />
          </div>

          <div class="w-full mt-4">
            <label class="block mb-2 text-sm text-gray-600">Message</label>
            <textarea
              class="block w-full h-20 px-5 py-2.5 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg md:h-56 focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              placeholder="Message"></textarea>
          </div>

          <button
            class="w-full px-6 py-3 mt-4 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50"
          >
            Send message
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
