<nav class="bg-gray-50">
  <div class="container p-6 mx-auto">
    <div class="flex justify-center">
      <h1 class="text-2xl font-bold text-gray-900">
        <a href="/">TMS</a>
      </h1>
    </div>

    <div class="flex items-center justify-center mt-2 text-gray-700">
      <a
        href="/"
        class="text-gray-800 border-b-2 border-blue-600 mx-1.5 sm:mx-6">Home</a
      >

      <a
        href="/#about"
        class="border-b-2 border-transparent hover:text-gray-800 hover:border-blue-600 mx-1.5 sm:mx-6"
        >About</a
      >

      <a
        href="#contact"
        class="border-b-2 border-transparent hover:text-gray-800 hover:border-blue-600 mx-1.5 sm:mx-6"
        >Contact</a
      >

      <a
        href="#package"
        class="border-b-2 border-transparent hover:text-gray-800 hover:border-blue-600 mx-1.5 sm:mx-6"
        >Package</a
      >
    </div>
  </div>
</nav>
